<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    
    <bean id="address" class="com.setter.injection.Address">
    	<property name="street" value="Milk-Man Street"/>
    	<property name="city" value="Cuddalore"/>
    	<property name="state" value="Tamil Nadu"/>
    	<property name="country" value="India"/>
    </bean>
    
    <bean id="employee" class="com.setter.injection.Employee">
    	<property name="name">
    		<value>Rohit</value>
    	</property>
    	<property name="mail">
    		<value>rohit.sharma@sample.com</value>
    	</property>
    	<property name="salary">
    		<value>2000000</value>
    	</property>
    	<property name="address">
    		<ref bean="address"/>
    	</property>
    </bean>
    
    <bean id="address1" class="com.setter.injection.Address">
    	<property name="street" value="Milk-Man Street"/>
    	<property name="city" value="Cuddalore"/>
    	<property name="state" value="Tamil Nadu"/>
    	<property name="country" value="India"/>
    </bean>
    
    <bean id="employee1" class="com.setter.injection.Employee">
    	<property name="name">
    		<value>Ashwin</value>
    	</property>
    	<property name="mail">
    		<value>ravichandra.ashwin@sample.com</value>
    	</property>
    	<property name="salary">
    		<value>1600000</value>
    	</property>
    	<property name="address">
    		<ref bean="address1"/>
    	</property>
    </bean>
    
</beans>